body{
    font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
    background-color:#EEE;
    font-size: 13px;
    color: #333;
}

h1{
    font-size: 15px;
    color: #ce1e16;
    text-align: center;
}

div.photo{
     text-align: center;   
}

div.photo image{
        width: 500px;
}