/*html{
	color: #fff;
	background: #2DA7E0;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN','Meiryo', sans-serif;
	font-size: 13px;
}*/

/*body{
	padding-bottom: 150px;
}*/

/*a{
	color: #f8b62b;
	text-decoration:underline;
}*/

/*h1{
	text-align: center;
	font-size: 26px;
	color: white;
}*/

/*.section{
	margin: 30px auto 0;
}*/

/*#container{
	width: 500px;
	margin: 20px auto;
}*/

/*#photo, #apply-form{
	background: #fff;
	padding: 0;
	border: solid 6px #fff;
}*/

/*#photo img{
	width:100%;
	margin: 0;
}*/

/*.topic p{
	border-bottom: #A7DBF7 1px solid;
}*/

/*#explanation .topic{
	margin-bottom: 20px;
	line-height: 175%;
}*/

/*#explanation ul{
	padding: 10px 0px 20px;
	width: 100%;
}*/

/*#explanation li{
	list-style: circle;
}*/
